<div class="layout-footer">
    <div class="logo-text">
        <img src="assets/images/logo.png" alt="logo"/>
        <div class="text">
            <h1>PrimeNG World</h1>
            <span>PrimeNG</span>
        </div>
    </div>
    <div class="icons">
        <div class="icon icon-hastag">
            <i class="pi pi-home"></i>
        </div>
        <div class="icon icon-twitter">
            <i class="pi pi-globe"></i>
        </div>
        <div class="icon icon-prime">
            <i class="pi pi-bookmark"></i>
        </div>
    </div>
</div>