<ng-template #progressSpinnerRef>
    <div class="splash-screen" style="background-color: gray; position: absolute;left:0; top:0; width:100%; height: 100%; opacity: 80%;z-index: 9999999;">
        <div class="spinner">
            <span class="ball-1"></span>
            <span class="ball-2"></span>
            <span class="ball-3"></span>
            <span class="ball-4"></span>
            <span class="ball-5"></span>
            <span class="ball-6"></span>
            <span class="ball-7"></span>
            <span class="ball-8"></span>
        </div>
    </div>
</ng-template>
